<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitable.backend.facilitytraining.mapper.FacilityMapper">

    <resultMap id="facilityResultMap" type="com.fitable.backend.facilitytraining.entity.Facility">
        <id column="id" property="id"/>
        <result column="FCLTY_NM" property="fcltyNm"/>
        <result column="FCLTY_ADDR" property="fcltyAddr"/>
        <result column="ITEM_NM" property="itemNm"/>
        <result column="FCLTY_COURSE_SDIV_NM" property="fcltyCourseSdivNm"/>
        <result column="FCLTY_X_CRDNT_VALUE" property="fcltyXCrdntValue"/>
        <result column="FCLTY_Y_CRDNT_VALUE" property="fcltyYCrdntValue"/>
    </resultMap>

    <select id="findById" resultMap="facilityResultMap">
        SELECT * FROM facility WHERE id = #{id}
    </select>

    <insert id="saveFacilities">
        INSERT INTO facility (FCLTY_NM, FCLTY_ADDR, ITEM_NM, FCLTY_COURSE_SDIV_NM, FCLTY_X_CRDNT_VALUE, FCLTY_Y_CRDNT_VALUE)
        VALUES
        <foreach collection="facilities" item="facility" separator=",">
            (#{facility.fcltyNm}, #{facility.fcltyAddr}, #{facility.itemNm}, #{facility.fcltyCourseSdivNm}, #{facility.fcltyXCrdntValue}, #{facility.fcltyYCrdntValue})
        </foreach>
    </insert>

    <select id="findFacilitiesWithinRadius" resultMap="facilityResultMap">
        SELECT * FROM facility f
        WHERE (6371 * acos(cos(radians(#{y})) * cos(radians(f.FCLTY_Y_CRDNT_VALUE))
        * cos(radians(f.FCLTY_X_CRDNT_VALUE) - radians(#{x})) + sin(radians(#{y}))
        * sin(radians(f.FCLTY_Y_CRDNT_VALUE)))) < #{radiusKm}
    </select>
</mapper>
